* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}


/* Define our grid */


.container {
    display: grid; /* Use CSS Grid to create the page layout */
    grid-template-columns: 300px repeat(7, 1fr);
    grid-template-rows: 120px repeat(6, auto) 100px;
    /* gap: 1rem; */
    width: 90rem;
    height: 100vh;
    margin: 0 auto;
    padding: 25px;
    

}






header {
    background-color: rgb(251, 209, 255);
    grid-column: 1 / 9;
    
}

nav {
    background-color: rgb(140, 167, 240);
    grid-column: 1 / 9;
    grid-row: 2 / 3;
  

}

aside {
    background-color: rgb(134, 162, 166);
    grid-column: 1 / 2;
    grid-row: 3 / 8;
}

.content-1 {
    background-color: rgb(255, 180, 219);
    grid-column: 2 / 4;
}

.content-2 {
    background-color: rgb(206, 38, 178);
    grid-column: 4 / 9;
}

.content-3 {
    background-color: rgb(166, 194, 255);
    grid-column: 2 / 9;
    grid-row: 4 / 8;
  
}

footer {
    background-color: rgb(181, 128, 255);
    grid-column: 1 / 9;
    grid-row: 8 / 9;
}